* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
h3 {
    font-family: "Permanent Marker", cursive;
    font-weight: normal;
}

body, input, textarea, footer {
    font-family: "Ubuntu", sans-serif;
}

header {
    padding:16px 0;
    background-color:#681004;
    color: #e7dda4;
}

header li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header li a {
    color: #e7dda4;
    text-decoration: none;
}

section{
    padding: 24px 0;
    color: #681004;
    background-color:#e7dda4 ;
}

#contato .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 500px;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

form button {
    background-color: #681004;
    color: #e7dda4;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #a12b1b;
}

input:focus, textarea:focus {
    outline-color: #681004;
}

footer {
    background-color: #681004;
    color: #e7dda4;
    padding: 16px 0;
}